<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ajouter produit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <form >
      <div>
        <label>nom de produit: </label> <br>
        <input type="text" placeholder="enter your product name"/>
      </div>

      <div>
        <label>prix minimal: </label> <br>
        <input type="text" placeholder="enter your product name"/>
      </div>

      <div>
        <label>prix maximal: </label> <br>
        <input type="text" placeholder="enter your product name"/>
      </div>

      <div>
        <label>prix moyen: </label> <br>
        <input type="text" placeholder="enter your product name"/>
      </div>

      <div>
        <label>unité: </label> <br>
        <input type="text" placeholder="enter your product name"/>
      </div>

      <div>
        <label>image: </label> <br>
        <input type="file" />
      </div>
    </form>
  </div>

</ion-content>
