<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true" class="bgColor">
  <h1 class="title">Welcome</h1>

  <h3 class="title">Select your favorite language</h3>

  <div id="container">
    <ion-button
      size="large"
      color="primary"
      expand="block"
      (click)="french()"
      >Français</ion-button
    >
    <ion-button
      size="large"
      color="secondary"
      expand="block"
      (click)="arab()"
      >Arabe</ion-button
    >
  </div>
</ion-content>
